@import url('https://fonts.cdnfonts.com/css/times-new-roman');
@font-face{
font-family: 'Symbola';
src: url('https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/font/Symbola.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@import url('https://fonts.cdnfonts.com/css/arial-2');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Symbola','Times New Roman',serif;
}

html,body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffffff;
}

.calculator{ 
    width: 600px;
    height: 600px;
    border: 1px solid #bebebe; 

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #ededed;
} 

.previous{
    width: 100%;
    height:calc(100% - 220px);
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
}

.prevCalcs{
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    border-top:1px solid #bebebe;
    position: relative !important;
}

.qsn{
    width:70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    border: none !important;
}

.qsn:focus-within{
    outline: none !important;
    border:none !important;
}

.ans{
    width:30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    outline: none;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 500;
    z-index: 5;
}

.keypadControls{
    display: flex;
    border-top:1px solid #bebebe;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    padding:12px 12px;
    padding-bottom: 0;
    background-color: #ededed;
    font-size: 87.5%;
}

#degRad{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    min-width: fit-content;
     
 }
 
 .toggle-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     height: 100%;
     position: relative;
 
     box-shadow: inset 1px 1px 2px #00000026;
     border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: white;
 }
 
 .toggle-slider {
     width: 50%;
     height: 100%;
     border-radius: 5px;
     background-color: #e6e6e6;
     border: 1px solid #d8d8d8;
     position: absolute;
     top: 0;
     left: 0;
     transition: left 0.3s ease; /* Adjusted the transition property */
     z-index:5;
 }
 
 .toggle-container .toggle-option {
     flex: 1;
     text-align: center;
     padding: 10px;
     cursor: pointer;
     user-select: none;
     background-color: transparent;
     color: #000000a8;
     font-size: 12px;
     
     position: relative;
     z-index: 2; /* Added z-index to ensure the options are above the slider */
 }
 
 .toggle-option.active .toggle-slider {
     left: 50%;
 }

.mode{
    width: auto;
    font-size: 15px;
    color: #000;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: default;
}

.mq-root-block{
    height: 100%;
    align-items: center !important;
    display: flex !important;
}

.mode::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #3187ea;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.mode.active::after{
    transform: scaleX(1);
}

.mode::before{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #3187ea91;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.mode:hover::before{
    transform: scaleX(1);
} 

.mode:hover.active::before{
    transform: scaleX(0);
}

.keypad-basic{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding:12px 12px 5px 5px;
    grid-gap: auto;
    row-gap: 5px;
    gap:2px;
    width: 100%;
    height:160px;
}

.abc{
    grid-column: span 2;
}

 button{
    height: 36px;
    padding: 5px;
    grid-column: span 2;
 }

 .btn-white{
    box-shadow: inset 0 1px #ffffff40, inset 0 -1px #00000005;
    background: linear-gradient(#fff,#fafafa);
    border: 1px solid #d8d8d8 !important;
    border-radius: 2px;
}

.btn-white:hover{
    background:linear-gradient(#f1f1f1,#fff);
}

.btn-black{
    box-shadow: inset 0 1px #ffffff1a, inset 0 -1px #00000005;
    background: linear-gradient(rgba(0,0,0,.13),rgba(0,0,0,.16));
    border: 1px solid #bbb;
    border-radius: 2px;
}

.btn-black:hover{
    background:linear-gradient(#a4a4a499,#9a9999);
}

#enter{
    grid-column: span 4;
}

.del{
    grid-column: span 3;
}

.abc .del{
    grid-column: span 2;
}


.enter{
    background-color: #306bcb;
    outline:none;
    border:none;
    color:white;
}

.enter:hover{
    background-color: #2a5db3;
}

.abc>.up,
.abc>.enter{
    grid-column: span 3 !important;
}

.func button{
    grid-column: span 3 !important;
}

.func .gap{
    grid-column: span 2 !important;
}

.disabled{
    opacity:0.5;
    pointer-events: none;
}

/* .mq-root-block{
    height: 100%;
    display: flex;
    align-items: center;
} */



@media (max-width:600px)
{
    .calculator{
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    } 

}

@media (height<=760px)
{
    .calculator{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    } 

    .previous{
        height:calc(100% - 220px);
        overflow: hidden;
    }
}
