@import url('https://fonts.cdnfonts.com/css/times-new-roman');
@font-face{
font-family: 'Symbola';
src: url('https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/font/Symbola.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@import url('https://fonts.cdnfonts.com/css/arial-2');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Symbola','Times New Roman',serif;
}

html,body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffffff;
}

.calculator{ 
    width: 700px;
    height: 600px;
    border: 1px solid #bebebe; 

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.previous{
    width: 100%;
    height: 300px; /* or set a specific height if needed */
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
}

.freeSpace{
    width: 100%;
}

.prevCalcs{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #bebebe;
}

.prevAns{
    display: flex;
    width: 30%;
    height: fit-content;
    justify-content: flex-end;
}

.prevQuery{
    display: flex;
    width: 70%;
    height: fit-content;
    justify-content: flex-end;
}

input[type="text"].prevAns{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
}

input[type="text"].prevQuery{
    display: flex;
    width: 100%;
    height: fit-content;
    text-align: left;
}

.currentCalcs{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #bebebe;
}

.result{
    display: flex;
    width: 30%;
    height: fit-content;
    justify-content: flex-end;
}

.query{
    display: flex;
    width: 70%;
    height: fit-content;
    justify-content: flex-end;
}

input[type="text"].result{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    text-align: right;
}

input[type="text"].query{
    display: flex;
    width: 100%;
    height: fit-content;
    text-align: left;
}

input[type="text"]{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    padding-right: 10px;
    background-color: transparent;
    /* border: 1px solid red; */
}

.previous{
    width:100%;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#degRad{
   display: flex;
   align-items: center;
    justify-content: space-between;
    height: 35px;
    
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
    position: relative;

    background:white;
    border-radius: 5px;
    box-shadow: inset 0 1px #ffffff40, inset 0 -1px #00000005;
}

.toggle-slider {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color: #e6e6e6;
    border: 1px solid #d8d8d8;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease; /* Adjusted the transition property */
    z-index:5;
}

.toggle-container .toggle-option {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    color: #000000a8;
    font-size: 12px;
    
    position: relative;
    z-index: 2; /* Added z-index to ensure the options are above the slider */
}

.toggle-option.active .toggle-slider {
    left: 50%;
}

.system{
    width:100%;
    height:240px;
    background-color: #ededed;
    padding:10px 20px;
    border: 1px solid #bebebe;
}

.menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 10px;
}

.four-4{
    grid-template-columns: repeat(4,1fr);
}

.three-4{
    grid-template-columns: repeat(3,1fr);
}
